<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <title>Página Inicial</title>
    <link rel="icon" type="image/svg+xml" href="/flor.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header">
            <img src="logo.svg" id="logo" alt="Logo">
            <p class="lobster-regular">EcoNature</p>
            <input type="text" id="pesquisa" placeholder="Pesquisar...">
            <a href="/carrinho"><img src="cart.png" id="cart" alt="Carrinho"></a>

            <div class="dropdown">
                <img src="user.png" id="user" alt="Usuário" class="user-icon">
                <div class="dropdown-content">
                    <nav>
                        <ul>
                            <% if (usuarioAutenticado) { %>
                                <li><a href="/perfil">Seu Perfil</a></li>
                                <li><a href="/logout">Sair</a></li>
                            <% } else { %>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/registro">Registro</a></li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="navbar">
        <a href="./catalogo" class="link">Catálogo</a>
        <a href="/contato" class="link">Contato</a>
        <a href="/sobre" class="link">Sobre Nós</a>
    </div>

    <div class="produtos">
        <h2>PRODUTOS EM DESTAQUE</h2>
        <div class="produtos-lista">
            <% produtos.forEach(produto => { %>
                <div class="prod">
                    <img class="noimage" src="/uploads/<%= produto.image %>" alt="<%= produto.name %>">
                    <h3><%= produto.name %></h3>
                    <p><%= produto.description %></p>
                    <div class="preço">
                        <p class="preco">R$ <%= produto.price.toFixed(2) %></p>
                    </div>
                    <form action="/adicionar-ao-carrinho" method="POST">
                        <input type="hidden" name="id" value="<%= produto.id %>">
                        <input type="hidden" name="quantidade" value="1"> <!-- Quantidade fixa para inicial -->
                        <button type="submit" class="comprar">ADICIONAR AO CARRINHO</button>
                    </form>
                </div>
            <% }); %>
        </div>
    </div>

    <footer>
        <p>&copy; 2024, Todos os direitos reservados.</p>
    </footer>
</body>

</html>
